<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Loanday Template">
    <meta name="keywords" content="Loanday, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loanday | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/sign-in.css" type="text/css">
</head>
<body>
    <!-- Hero Section Begin -->
    <section class="hero set-bg" data-setbg="/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hero__text">
                        <h2>Pay Study Fee with Bitcoin</h2>
                        <p>Pay Study Fee automatic with Sawtooth Network</p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="hero__form">
                        <div class="header__nav">
                            <nav class="header__menu">
                                <ul>
                                    <li><a href="#" onclick="change1()">Sign in</a></li>
                                    <li><a href="#" onclick="change2()">Sign up</a></li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Form sign in -->

                        <div class="signin" id="signin" style="display: block;">
                            <form action="#" method="POST">
                                <div class="input-full-width">
                                    <p>Student ID</p>
                                    <input type="text" name="stdId">
                                </div>
                                <div class="input-full-width">
                                    <p>Password</p>
                                    <input type="password" name="stdPw">
                                </div>
                                <button type="submit" class="site-btn">Sign In</button>
                            </form>
                        </div>

                        <!-- Form sign up -->

                        <div class="signup" id="signup" style="display: none;">
                            <form action="#" method="POST" >
                                <div class="input-list">
                                    <div class="input-list-item">
                                        <p>Student ID</p>
                                        <input type="text">
                                    </div>
                                    <div class="input-list-item">
                                        <p>Password</p>
                                        <input type="password">
                                    </div>
                                </div>
                                <div class="input-full-width">
                                    <p>Student Name</p>
                                    <input type="text">
                                </div>
                                <button type="submit" class="site-btn">Sign Up</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Js Plugins -->
    <script>
        function change1(){
            document.getElementById("signin").style.display = "block";
            document.getElementById("signup").style.display = "none";
        }

        function change2(){
            document.getElementById("signin").style.display = "none";
            document.getElementById("signup").style.display = "block";
        }

    </script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>